.contactsList__container {
  width: 25%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1.65rem 1.5rem 1.6rem 1.5rem;
  flex-shrink: 0;
  height: fit-content;
}

.contactsList__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 29px;
  background-color: #eef1fb;
}

.contactsList__container .contact__container {
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 9px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.55) 100%
  );
  margin-top: 0;
  margin-bottom: 1.25rem;
  column-gap: 1rem;
  cursor: pointer;
}

.contactsList__container .contact__container:hover {
  background: linear-gradient(178deg, #703faf 0%, #573faf 100%);
  color: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32),
    0px 2.767256498336792px 2.2138051986694336px 0px rgba(129, 48, 147, 0.03),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(129, 48, 147, 0.04),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(129, 48, 147, 0.05),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(129, 48, 147, 0.07),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(129, 48, 147, 0.06);
}

.contactsList__container .contact__container:hover img {
  border-radius: 24px;
  outline: 2px solid #ffffff;
}
