.newMessage__container {
  width: 75%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1.65rem 2.5rem 2.1rem 2.5rem;
  flex-shrink: 1;
}

.newMessage__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 29px;
  background-color: #eef1fb;
}

.newMessage__container input {
  margin-top: 0.375rem;
  color: rgba(65, 65, 65, 0.9);
  border: 1px solid rgba(65, 65, 65, 0.4);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.newMessage__container input:focus,
.newMessage__container textarea:focus {
  border: 1px solid #5c39aa;
  outline: 1px solid #5c39aa;
  border-radius: 4px;
}

.newMessage__container input[type="text"] {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.newMessage__container label:not(:first-of-type) {
  margin-top: 1.25rem;
}

.newMessage__container textarea {
  padding: 0.25rem 0.5rem;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  resize: none;
  margin-top: 0.375rem;
  color: rgba(65, 65, 65, 0.9);
  border: 1px solid rgba(65, 65, 65, 0.4);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.newMessage__container button {
  border-radius: 10px;
  background: linear-gradient(178deg, #703faf 0%, #573faf 100%), #eef1fb;
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32),
    0px 2.767256498336792px 2.2138051986694336px 0px rgba(129, 48, 147, 0.03),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(129, 48, 147, 0.04),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(129, 48, 147, 0.05),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(129, 48, 147, 0.07),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(129, 48, 147, 0.06);
  border: none;
  height: 56px;
  /*width: 200px;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 2.5rem auto 0rem auto;*/
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.025em;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1.5rem;
}

.newMessage__container button:hover {
  background: linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.3) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(129, 48, 147, 0.03),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(129, 48, 147, 0.04),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(129, 48, 147, 0.05),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(129, 48, 147, 0.07),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(129, 48, 147, 0.06),
    0px 100px 80px 0px rgba(129, 48, 147, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px 4px 16px 0px rgba(196, 45, 240, 0.41);
}
