.contactsList__container {
  border-radius: 30px;
  background: #eef1fb;
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  row-gap: 20px;
  margin-top: 3px;
}

.contactRow {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  justify-content: center;
  align-items: center;
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
}

.contactListModal__bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 17px;
}
