.creditcards__container {
  position: relative;
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  width: 90%;
  padding: 1.65rem 2.5rem 2.1rem 2.5rem;
  border-radius: 36px;
  font-family: "Jost", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  box-shadow: 0px 4px 16px rgba(133, 101, 171, 0.32);
  z-index: 2;
  height: 288px;
  flex-grow: 1;
  flex-shrink: 1;
}

.creditcards__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 35px;
  background-color: #eef1fb;
}

.creditcardsnTitle__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.creditcards__container .creditcards {
  width: 360px;
  height: 204px;
  margin-left: -20px;
  margin-top: -10px;
}

.creditcards__title {
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 7px;
  letter-spacing: 0;
  color: #5c39aa;
  font-family: "Poppins", sans-serif;
}

.creditcards__container .separator {
  width: 1px;
  height: 100%;
  border-left: 4px dashed #5e5380;
  border-right: 4px dashed #ffffff;
  margin-left: 0.75rem;
}

.creditcards__rightContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  transform: translateX(10px);
}

.creditcards__rightContainer .expiration__container {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #8da1b9;
  align-self: center;
  margin-left: 0.75rem;
  margin-top: 2px;
}

.creditcards__rightContainer .expiration__container span {
  color: #5c39aa;
  font-weight: 800;
}

.CreditcardnOptions__container {
  display: flex;
}

.qrcode__container {
  margin-top: 11px;
  display: flex;
  justify-content: center;
  margin-left: 0.75rem;
}

.qrcodeicons__container {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}

.qrcode__refresh {
  transform: translateY(24px);
  cursor: pointer;
}

.qrcode__trash {
  cursor: pointer;
}

.creditcardsOptions__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2rem;
}

/*.qrcode {
  margin-left: 1rem;
}*/
