.inboxEmailsList__container {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1.65rem 2.5rem 2.1rem 2.5rem;
  flex-shrink: 0;
}

.inboxEmailsList__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 29px;
  background-color: #eef1fb;
}

.inboxEmailsList__container table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.inboxEmailsList__container table tr {
  height: 38px;
  cursor: pointer;
}

.inboxEmailsList__container tbody tr:nth-child(2n + 1) {
  background-color: #e5e8f6;
  border-bottom: 1px solid #d4d9ed;
  border-top: 1px solid #d4d9ed;
}

/*.inboxEmailsList__container tbody tr:nth-child(2n) {
  background-color: #f9fbff;
}*/

.inboxEmailsList__container thead tr {
  border-bottom: 1px solid black;
}

.inboxEmailsList__container th {
  height: 55px;
  color: rgba(65, 65, 65, 0.9);
  font-weight: 600;
  padding: 0 1.25rem;
  height: 42px;
}

.inboxEmailsList__container td {
  height: 32px;
  color: rgba(65, 65, 65, 0.9);
  font-weight: 400;
  padding: 0 1.25rem;
  padding-top: 2px;
}

.inboxEmailsList__container tr:hover td {
  background: linear-gradient(178deg, #703faf 0%, #573faf 100%);
  color: #ffffff;
}

.inboxEmailsList__container tbody tr:last-of-type {
  border-bottom: 1px solid black;
}

.inboxEmailsList__container tr .from {
  width: 300px;
}

.inboxEmailsList__container tr .delete {
  width: 38px;
  padding: 0;
}

.inboxEmailsList__container tr .delete:hover {
  background: linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);
  cursor: pointer;
}

.inboxEmailsList__container tr .checkboxCell {
  width: 36px;
  max-width: 36px;
  min-width: 36px;
  padding: 0 0.75rem;
  padding: 0;
  margin: 0;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 32px;
}

.inboxEmailsList__container tr .checkboxCell:hover {
  background: linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);
}

.inboxEmailsList__container tr .checkboxCell input {
  transform: translateY(2px);
}

.customCheckbox {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid rgba(65, 65, 65, 0.9);
  border-radius: 2px;
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 1px;
}

.inbox__footer {
  display: flex;
  height: 32px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-top: 0.75rem;
}

.inbox__footer .pagination__container {
  height: 34px;
  display: flex;
  column-gap: 12px;
}

.inbox__footer .pagination__container .pagination__button {
  width: 34px;
  height: 34px;
  background-color: #f5f7fd;
  box-shadow: 0px 16px 32px 0px #d3daf1,
    0px 8px 16px 0px rgba(211, 218, 241, 0.8), 0px 4px 8px 0px #d3daf1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inbox__footer .pagination__container .pagination__nextPrev {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inbox__footer .pagination__container .pagination__buttonActive {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(178deg, #703faf 0%, #573faf 100%), #eef1fb;
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32),
    0px 2.767256498336792px 2.2138051986694336px 0px rgba(129, 48, 147, 0.03),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(129, 48, 147, 0.04),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(129, 48, 147, 0.05),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(129, 48, 147, 0.07),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(129, 48, 147, 0.06);
  color: #fff;
  font-weight: 600;
}

.inbox__footer .pagination__container .pagination__button:hover {
  background: linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(129, 48, 147, 0.03),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(129, 48, 147, 0.04),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(129, 48, 147, 0.05),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(129, 48, 147, 0.07),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(129, 48, 147, 0.06),
    0px 100px 80px 0px rgba(129, 48, 147, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px 4px 16px 0px rgba(196, 45, 240, 0.41);
  color: #fff;
  font-weight: 600;
}

.inbox__footer .pagination__container .pagination__nextPrev:hover {
  text-decoration: underline;
}
