.inboxEmailsList__container {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1.65rem 2.5rem 2.1rem 2.5rem;
  flex-shrink: 0;
}

.inboxEmailsList__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 29px;
  background-color: #eef1fb;
}

.inboxEmailsList__container table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.inboxEmailsList__container table tr {
  height: 38px;
  cursor: pointer;
}

.inboxEmailsList__container tbody tr:nth-child(2n + 1) {
  background-color: #e2e6f5;
  border-bottom: 1px solid #d4d9ed;
  border-top: 1px solid #d4d9ed;
}

/*.inboxEmailsList__container tbody tr:nth-child(2n) {
  background-color: #f9fbff;
}*/

.inboxEmailsList__container thead tr {
  border-bottom: 1px solid black;
}

.inboxEmailsList__container th {
  height: 55px;
  color: rgba(65, 65, 65, 0.9);
  font-weight: 600;
  padding: 0 1.25rem;
  height: 42px;
}

.inboxEmailsList__container td {
  height: 32px;
  color: rgba(65, 65, 65, 0.9);
  font-weight: 400;
  padding: 0 1.25rem;
  padding-top: 2px;
}

.inboxEmailsList__container tr:hover td {
  background: linear-gradient(178deg, #703faf 0%, #573faf 100%);
  color: #ffffff;
}

.inboxEmailsList__container tbody tr:last-of-type {
  border-bottom: 1px solid black;
}

.inboxEmailsList__container tr .from {
  width: 300px;
}

.inboxEmailsList__container tr .delete {
  width: 38px;
  padding: 0;
}

.inboxEmailsList__container tr .delete:hover {
  background: linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);
  cursor: pointer;
}

.inboxEmailsList__container tr .checkboxCell {
  width: 36px;
  max-width: 36px;
  min-width: 36px;
  padding: 0 0.75rem;
  padding: 0;
  margin: 0;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 32px;
}

.inboxEmailsList__container tr .checkboxCell:hover {
  background: linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);
}

.inboxEmailsList__container tr .checkboxCell input {
  transform: translateY(2px);
}

.customCheckbox {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid rgba(65, 65, 65, 0.9);
  border-radius: 2px;
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 1px;
}
