.inboxEmailsList__container {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1.65rem 2.5rem 2.1rem 2.5rem;
  flex-shrink: 0;
}

.inboxEmailsList__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 29px;
  background-color: #eef1fb;
}

.inboxEmailsList__container table {
  width: 100%;
  text-align: left;
}

.inboxEmailsList__container table tr {
  height: 32px;
}

.inboxEmailsList__container table thead tr {
  border-top: 1px solid black;
}

.inboxEmailsList__container table th {
  padding-left: 1rem;
}

.inboxEmailsList__container table td {
  padding-left: 1rem;
  font-weight: 400;
}
