.ownedCurrencyList__container {
  height: 100%;
  width: 660px;
  max-width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  box-shadow: 0px 4px 16px 0px rgba(133, 101, 171, 0.32);
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1.65rem 2.5rem 2.1rem 2.5rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.ownedCurrencyList__container:before {
  content: "";
  background: #eef1fb;
  border-radius: 29px;
  z-index: -1;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  position: absolute;
}

.ownedCurrencyList__container table {
  border-collapse: collapse;
}

.ownedCurrencyList__container table thead tr {
  border-bottom: 1px solid rgba(65, 65, 65, 0.9);
}

.ownedCurrencyList__container th {
  height: 55px;
  color: rgba(65, 65, 65, 0.9);
  font-weight: 600;
  text-align: right;
}

.ownedCurrencyList__container td {
  height: 32px;
  color: rgba(65, 65, 65, 0.9);
  font-weight: 400;
  padding-top: 2px;
  text-align: right;
}

.ownedCurrencyList__container .currencyCell {
  text-align: left;
  padding-left: 0.75rem;
  color: #5c39aa;
  font-family: Poppins;
  font-weight: 700;
}

.ownedCurrencyList__rowEven {
  background-color: #e2e6f5;
  border-bottom: 1px solid #d4d9ed;
  border-top: 1px solid #d4d9ed;
}

.ownedCurrencyList__container table .ownedCurrencyList__inc {
  color: #52cca8;
  font-weight: 600;
}

.ownedCurrencyList__container
  table
  tbody
  tr.ownedCurrencyList__rowEven:hover
  td {
  background-color: #5c39aa;
  color: #ffffff;
}

.ownedCurrencyList__container
  table
  tbody
  tr.ownedCurrencyList__rowOdd:hover
  td {
  background: linear-gradient(178deg, #703faf 0%, #573faf 100%);
  color: #ffffff;
}
