.settingsPage__mainContainer {
  width: 100%;
  display: flex;
  column-gap: 24px;
  min-height: 100vh;
  padding: 1.5rem 0 0 0;
}

.headernSettings__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 1120px;
  row-gap: 24px;
}

.settingsArticles__container {
  width: 100%;
  display: flex;
  column-gap: 32px;
  flex-direction: row;
  padding: 0;
  flex-wrap: nowrap;
}

.leftSettingsCol__container {
  max-width: 50%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.rightSettingsCol__container {
  /*height: 436px;*/
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  row-gap: 32px;
}
