.statsPage__mainContainer {
  width: 100%;
  display: flex;
  column-gap: 24px;
  min-height: 100vh;
  padding: 1.2rem 0 0 0;
}

.headernGraph__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 1120px;
  row-gap: 24px;
}
