.transfer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  width: 50%;
  padding: 1.8rem 2.5rem 1.3rem 2.5rem;
  border-radius: 36px;
  font-family: "Jost", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  justify-content: flex-start;
  box-shadow: 0px 4px 16px rgba(133, 101, 171, 0.32);
  z-index: 2;
  height: 259px;
}

.transfer__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 35px;
  /*background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);*/
  background-color: #eef1fb;
}

.transfer__title {
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 7px;
  letter-spacing: 0;
  color: #5c39aa;
  font-family: "Poppins", sans-serif;
}

.transfer__amountnButton__container {
  display: flex;
  column-gap: 16px;
  width: 100%;
  margin-top: 4px;
}

.transfer__amount {
  width: 100%;
  height: 40px;
  flex: 1 1 100%;
  display: flex;
  background: linear-gradient(270deg, #ece6f9 8.71%, #b49bee 100%);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  justify-content: space-between;
  align-items: center;
}

.transfer__innerButton {
  height: 100%;
  background: linear-gradient(120.01deg, #703faf 6.99%, #573faf 63.96%);
  border-radius: 50px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.transfer__amountText {
  font-size: 16px;
  letter-spacing: 0;
  color: rgba(65, 65, 65, 0.9);
  margin-right: 24px;
  margin-top: 3px;
}

.violetButton {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  /*background: linear-gradient(120.01deg, #703faf 6.99%, #573faf 63.96%);*/
  box-shadow: 0px 4px 16px rgba(196, 45, 240, 0.41),
    0px 4px 8px rgba(0, 0, 0, 0.15), 0px 100px 80px rgba(129, 48, 147, 0.08),
    0px 41.7776px 33.4221px rgba(129, 48, 147, 0.065),
    0px 22.3363px 17.869px rgba(129, 48, 147, 0.0655718),
    0px 12.5216px 10.0172px rgba(129, 48, 147, 0.055),
    0px 6.6501px 5.32008px rgba(129, 48, 147, 0.0444282),
    0px 2.76726px 2.21381px rgba(129, 48, 147, 0.030926);
}

.vButton {
  background: url("../assets/icons/v.png"),
    linear-gradient(120.01deg, #703faf 6.99%, #573faf 63.96%);
  background-position: 50%;
  background-repeat: no-repeat;
}

.vButton:hover {
  background: url("../assets/icons/v.png"),
    linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);

  background-position: 50%;
  background-repeat: no-repeat;
}

.xButton {
  background: url("../assets/icons/x.png"),
    linear-gradient(120.01deg, #703faf 6.99%, #573faf 63.96%);
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.xButton:hover {
  background: url("../assets/icons/x.png"),
    linear-gradient(
      180deg,
      rgba(148, 48, 218, 0) 0%,
      rgba(136, 52, 218, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(166, 41, 237, 0.7) 0%,
      rgba(158, 47, 237, 0.7) 100%
    ),
    linear-gradient(178deg, #703faf 0%, #573faf 100%);

  background-position: 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(129, 48, 147, 0.03),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(129, 48, 147, 0.04),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(129, 48, 147, 0.05),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(129, 48, 147, 0.07),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(129, 48, 147, 0.06),
    0px 100px 80px 0px rgba(129, 48, 147, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px 4px 16px 0px rgba(196, 45, 240, 0.41);
}

.transfer__avatarsnButton__container {
  display: flex;
  column-gap: 21.5px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.transfer__avatarsnButton__container img {
  width: 40px;
  height: 40px;
}
