.transactions__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);
  width: 100%;
  padding: 1.8rem 2.5rem 1.3rem 2.5rem;
  border-radius: 36px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  justify-content: flex-start;
  box-shadow: 0px 4px 16px rgba(133, 101, 171, 0.32);
  z-index: 2;
}

.transactions__container:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 35px;
  /*background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #eef1fb 100%);*/
  background-color: #eef1fb;
}

.transactions__title {
  line-height: 24px;
  margin-bottom: 31px;
  margin-top: 7px;
  letter-spacing: 0;
  color: #5c39aa;
}

.oneTransaction__container {
  padding-bottom: 23px;
  display: flex;
  flex-direction: row;
  /*border: 1px solid #5c39aa;*/
  height: 96px;
}

.transaction__datas {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.transaction__recipient {
  font-size: 16px;
  letter-spacing: 0;
  color: rgba(65, 65, 65, 0.9);
  padding-bottom: 1px;
}

.datenAmount__container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 8px;
}

.transaction__date {
  color: #948eae;
}

.transaction__amount {
  color: #52a7d6;
}

.transaction__amountRed {
  color: #e06e84;
}

.transaction__arrow {
  display: flex;
  justify-content: flex-end;
  /*align-items: end;*/
  width: 15%;
  /*padding-bottom: 8px;*/
  color: #b0b9c8;
  font-size: 32px;
  /*background-color: red;*/
  align-items: center;
}

.transaction__dashes {
  height: 1px;
  border-bottom: 2px dashed #b0b9c8;
  margin-top: 17px;
}
