#root {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  /*padding: 1.5rem 0 2rem 0;*/
}

.App {
  /*padding: 1.5rem 0 2rem 0;*/
  padding: 1.25rem 0;
  width: 100%;
  display: flex;
  column-gap: 24px;
  /*max-height: 100vh;
  transform: translateZ(0);
  overflow: hidden;*/
}

.balance__ccard__transferCrypto__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
  row-gap: 24px;
}

.transactions__debits__container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 1 1 30%;
}

.transfer__cryptos__container {
  display: flex;
  column-gap: 24px;
}

/** loading anims + placeholders **/

.default__loading {
  width: 128px;
  height: 16px;
  background: linear-gradient(to right, #4d4264 0%, rgb(92, 81, 95) 100%);
  border-radius: 4px;
  animation: ease-out 1.2s forwards fadeinplaceholder infinite;
}

@keyframes fadeinplaceholder {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 0.4;
  }
}

.delayed__text {
  opacity: 0;
  transition: 20s opacity 10s;
  display: none;
}

.loading__mg6 {
  transform: translateY(-6px);
}

.loading__mg2 {
  transform: translateY(-4px);
}

.loading__mgp2 {
  transform: translateY(2px);
}
