#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
}

.App {
  width: 100%;
  display: flex;
  column-gap: 24px;
}

.balance__ccard__transferCrypto__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
}

.transactions__debits__container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  flex: 1 1 30%;
}
